{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <h3 class="text-center">Are you sure you want to delete : {{ object.name }}</h3>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col">
        <form action="" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Yes" class="btn btn-danger">
          <a href="{% url 'home' %}" class="btn btn-primary">No</a>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
